.song{
    font-size: 16px;
    font-style: italic;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.speech{
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    color: black;
}
.directions{
    font-size: 18px;
    font-style: italic;
    color: black;
    background-color: antiquewhite;
}
.directions:hover{
    color:brown;
    background-color: rgb(187, 122, 26);
}
.pho{
    font-style: italic;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    color: beige;
}
.pho:hover{
    color: blueviolet;
    background-color: rgb(255, 111, 0);
    text-shadow: 3px 3px 6px black;
    border-style: dotted;
}

.wil{
    font-style: italic;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(255, 111, 0);
}
.will:hover{
    color: blueviolet;
    background-color: rgb(255, 111, 0);
    text-shadow: 3px 3px 6px black;
    border-style: dotted;
}
.cro{
    font-style: italic;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    color: blue;
}
.cro:hover{
    color: blueviolet;
    background-color: rgb(255, 111, 0);
    text-shadow: 3px 3px 6px black;
    border-style: dotted;
}

.yeo{
    font-style: italic;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    color: darkgreen;
}
.yeo:hover{
    color: blueviolet;
    background-color: rgb(255, 111, 0);
    text-shadow: 3px 3px 6px black;
    border-style: dotted;
}
.dam{
    font-style: italic;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    color: darkgreen;
}
.dam:hover{
    color: blueviolet;
    background-color: rgb(255, 111, 0);
    text-shadow: 3px 3px 6px black;
    border-style: dotted;
}
table.table
{
    color:rgb(207, 17, 17);
    text-align: center;
    padding: 55px;
    margin:25px;
}
table, th, td {
    border: 3px double;
  }
tr:nth-child(even)
{
    background-color: gold;
}